<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Configurações</ion-title>

    <ion-thumbnail slot="end" *ngIf="auth.user | async as user; else showLogin">
      <img src="{{user.photoURL}}" alt="{{user.displayName}}" routerLink="/profile">
    </ion-thumbnail>
    <ng-template #showLogin>
      <ion-thumbnail slot="end">
        <img src="assets/user.png" alt="logue-se" routerLink="/login">
      </ion-thumbnail>
    </ng-template>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

<h1>Preferências</h1>

<ion-list>
  <ion-item>
    <ion-icon name="moon" stlot="start"></ion-icon>&nbsp;Tema escuro<ion-toggle slot="end" color="primary" id="themeToggle" (ionChange)="onClick($event)"></ion-toggle>
  </ion-item>
</ion-list>

</ion-content>
